@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  margin-left: 10%;
  margin-top: 20%;
  background-color: rgb(9, 163, 215);
}
.Price{
    font-size: 25px;
    color: rgb(255, 0, 208);
    font-family: sans-serif;
}
#Contact {
  margin-left: 5%;
  width: 90%;
}




