@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  border-radius: 10px;
  margin-top: 10%;

}
.card {
  margin-left: 10%;
  margin-top: 20%;
  background-color: rgb(84, 93, 90);
}
.Price{
    font-size: 20px;
    color: rgb(255, 0, 208);
}
