@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  margin-left: 10%;
  margin-top: 20%;
}
.Price {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}

#Contact {
  margin-left: 5%;
  width: 90%;
}




